.ancestorContainer {
    display: flex;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 8px;
    height: 80vh;
    margin: 6px;
    flex-direction: column;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 4px;
}

.addButton {
    height: fit-content;
    width: fit-content;
    padding: 12px 8px;
    background-color: floralwhite;
    cursor: pointer;
    border-radius: 8px;
    font-size: large;
    font-weight: 700;
    transition: all 0.3s linear;
    box-shadow: 1px 1px 4px 2px rgb(0, 0, 0, 0.1);

    &:hover {
        box-shadow: 1px 1px 4px 2px rgb(0, 0, 0, 0.4);
    }
}

.todoContainer {
    display: flex;
    flex-direction: column;
    height: 80%;
    background-color: rgb(0, 0, 0);
    margin: 4px;
    border-radius: 8px;
    padding: 8px;
    gap: 12px;
    border-radius: 8px;
    overflow-y: auto;
}


.todo {
    background-color: white;

    padding: 8px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 4px 2px rgb(0, 0, 0, 0.1);
    justify-content: space-between;
    max-height: 2em;

    input {
        margin-right: 8px;
        height: 20px;
        width: 20px;
    }
}

.infoContainer {
    width: 90%;
    font-size: x-large;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.todoInput {
    width: 500px;
    margin-right: 8px;
    height: 45px;
    font-size: large;
    
}

.noTodoMessage {
    color: white;
    align-self: center;
    justify-self: center;
    font-size: large;
}
.editContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.editInput {
    min-width: 300px;
    width:auto;
    height: 20px;
    padding: 10px; /* Increase padding */
    font-size: 14px; /* Increase font size */
    margin-right: 10px; /* Add some margin */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.saveButton {
    margin-left: 10px;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end; 
    width: 100%;
}
